body{
    max-width: 1020px;
}

main{
    max-width: 1020px;
}

.container__header{
    height: 88px;
    top: 1px;
    background: #2D303A;
}

.container__header__bottom{
    position: relative;
    width: 1020px;
    height: 9px;
    left: 0px;
    top: -15px;
    background: #323746;
}

.container__telephones{
    height: 600px;
    top: 0px;
    background: #F06C64;
}

.container__telephones__bottom{
    height: 20px;
    top: 600px;
    background: #EA676B;
}

.container__services{
    max-width: 1020px;
    margin: 0px;
    height: 600px;
    left: 8px;
    top: 0px;
    background: #F2F2F2;
}

.container__services__bottom{
    max-width: 1020px;
    height: 20px;
    left: 8px;
    top: 600px;
    background: #FFFFFF;
}

.singolo__name{
    position: absolute;
    height: 20px;
    left: 41px;
    top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 6px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.singolo__star{
    position: absolute;
    height: 20px;
    left: 153px;
    top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 6px;
    display: flex;
    align-items: center;
    color: #F06C64;
}

li:active{
  color: #F06C64;
}

li::before{
    content: ' · ';
}

.navigation{
    padding: 47px 0px 32px 610px;
    list-style-type: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 11.6593px;
    line-height: 6px;
    display: flex;
    align-items: left;
    color: #FFFFFF;
}

.our__services{
    padding: 71px 694px 406px 41px;
    position: absolute;
    width: 286.99px;
    height: 23px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.our__services__p{
    padding: 119px 11px 257px 42px;
    position: absolute;
    width: 969px;
    height: 47px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    display: flex;
    align-items: center;
}

.custom__design{
    padding: 223px 664px 192px 120px;
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.custom__design__p{
    padding: 258px 651px 193px 120px;
    position: absolute;
    width: 240px;
    height: 54px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.inovative__ideas{
    padding: 223px 343px 262px 440px;
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.inovative__ideas__p{
    padding: 258px 332px 197px 440px;
    position: absolute;
    width: 240px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.love__is__the__answer{
    padding: 223px 10px 262px 763px;
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.love__is__the__answer__p{
    padding: 258px 12px 195px 763px;
    position: absolute;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.responsive__layout{
    padding: 344px 632px 134px 120px;
    position: absolute;
    width: 266.99px;
    height: 17px;
    font-family: "Lato";
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
}

.responsive__layout__p{
    padding: 380px 650px 72px 120px;
    position: absolute;
    width: 250px;
    height: 52px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #767E9E;
}

.support{
    padding: 344px 351px 134px 439px;
    position: absolute;
    width: 229.99px;
    height: 17px;
    font-family: "Lato";
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
}

.support__p{
    padding: 380px 331px 70px 439px;
    position: absolute;
    width: 250px;
    height: 54px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #767E9E;
}

.feel__like__a__star{
    padding: 344px 351px 134px 762px;
    position: absolute;
    width: 239.99px;
    height: 14px;
    font-family: "Lato";
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
}

.feel__like__a__star__p{
    padding: 380px 11px 70px 759px;
    position: absolute;
    width: 250px;
    height: 54px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #767E9E;
}