li::after{
content: '          ·         ';
}


.container__header{
    height: 90px;
    left: 0px;
    top: 0px;
    background: rgb(0, 238, 139);
}

.container__header__bottom{
    padding-top: 90px;
    height: 10;
    background: #889cd8;
}

.container__telephones{
    height: 600px;
    left: 0px;
    top: 0px;
    background: rgb(116, 240, 100);
}

.container__telephones__bottom{
    height: 20px;
    left: 0px;
    top: 600px;
    background: rgb(48, 32, 117);
}

.container__services{
    margin: 0px;
    height: 600px;
    left: 8px;
    top: 0px;
    background: rgb(133, 26, 26);
}

.container__services__bottom{
    height: 20px;
    left: 8px;
    top: 600px;
    background: rgb(192, 211, 26);
}

.singolo__name{
    position: absolute;
    width: 155.41px;
    height: 20px;
    left: 41px;
    top: 41.74px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24.2902px;
    line-height: 6px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.singolo_star{
    position: absolute;
    width: 155.41px;
    height: 20px;
    left: 41px;
    top: 41.74px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24.2902px;
    line-height: 6px;
    white-space: nowrap;
    letter-spacing: normal; 
    display: flex;
    align-items: center;
    color: #F06C64;
}

li:active{
  color: #F06C64;
}

.navigation{
    padding: 47px 1px 32px 610px;
    position: absolute;
    font-family: Lato;
    font-style: normal;
    word-spacing: 1rem;
    font-weight: bold;
    font-size: 11.6593px;
    line-height: 6px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.our__services{
    padding: 71px 694px 406px 41px;
    position: absolute;
    width: 286.99px;
    height: 23px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.our__services__p{
    padding: 119px 11px 333px 42px;
    position: absolute;
    width: 969px;
    height: 47px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.layout-3-column-1{
    padding: 222px 681px 190px 41px;
}

.layout-3-column-2{
    padding: 222px 362px 192px 360px;
}

.layout-3-column-3{
    padding: 222px 42px 190px 680px;
}

.custom__design{
    padding: 223px 664px 259px 120px;
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.custom__design__p{
    padding: 250px 651px 195px 120px;
    position: absolute;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.inovative_ideas{
    padding: 223px 343px 262px 440px;
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.inovative_ideas__p{
    padding: 250px 332px 197px 440px;
    position: absolute;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.love__is__the__answer{
    padding: 223px 10px 262px 763px;
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.love__is__the__answer__p{
    padding: 250px 12px 195px 760px;
    position: absolute;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}